extend layout
block scripts
  script(type="text/javascript", src="/scripts/form.js")

block intro
  #intro
    p.intro-teaser
      | So you think you know when our baby's being born.
    p.intro-content
      | Join other people who also claim to know the details of our child's birth.
      | Win some bragging rights - maybe even a chance to change a diaper or two.

    // Button should un-hide the #survey section and scroll down to it.
    div
      input.button(onclick="startSurvey();" value="Get Started")

    a(href="/results")
      | Skip to the results

block content
  // Survey section will initially be hidden from view.
  #survey
    p.intro-content
      | Kristina's info: as;ldkfjaslk;dfj
    p.intro-content
      | Jon's: aksdjflksjf lskjfslkj
      | asldfjsklfjsdk flksjdflksdjf
    p.intro-content
      | lorem ipsum dolor sit amet
      | lorem ip
    p.
      * All fields are required.
    form(action="/form-submit", method="post")
      h2 Who Are You?
      div
        label(for="first_name") First Name
        input(type="text", name="first_name", required="true")
      div
        label(for="last_name") Last Name
        input(type="text", name="last_name", required="true")

      // @TODO make configurable the sections that are displayed
      h2 Birthdate
      div
        label(for="birthdate") Pick the Day!
        input(type="text", name="birthdate", placeholder="MM/DD", required="true")
      div
        label(for="birthdate_time") Time of Day (as a tiebreaker)
        input(type="text", name="birthdate_time", placeholder="12:00 AM", required="true")

      h2 Weight
      div
        label(for="weight_lbs") Pounds
        input(type="number", name="weight_lbs", required="true")
      div
        label(for="weight_oz") Ounces
        input(type="number", name="weight_oz", required="true")

      h2 Height
      div
        label(for="height_inches") Inches
        input(type="number", name="height_inches", required="true")

      h2 Hair or No Hair
      div(style="text-align:center;")
        label(for="hair") Is the baby going to have a full head of hair?
        select(name="hair", required="true")
          option(value="true") Yup!
          option(value="false") Nope

      div
        input.button(type="submit" value="Submit")
