doctype html
html
  head
    title #{title} - Baby Pool
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    block scripts
  body
    header
      h1 Baby Pool
    .container
      .main-content
        block content