doctype html
html
  head
    title #{title} - Baby Pool
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    header
      h1 Baby Pool
    .container
      .main-content
        block content